*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > *{
    padding: 1rem;
    color: white;
    border: 2px solid white;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #444;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 64px 1fr 64px;
    gap: 20px 20px;
}

header, footer{
    grid-column: 1/-1;
} 

@media (max-width: 800px) {
    body{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 64px 1fr 1fr 64px;
    }
}