*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    border: 2px solid red;
    height: 600px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 500px repeat(2, 1fr); */
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 100px;
    column-gap: 50px;
    row-gap: 50px;
    grid-auto-flow: dense;

    /* align-items: center;
    justify-items: center; */
    /* place-items: center center; */

    /* justify-content: space-around;
    align-content: center; */
    /* place-content: center space-around; */

}

.container .item{
    background: #487eb0;
    color: #fff;
    padding: 10px;
    border: 2px solid black;
}

.container .item1{
    /* align-self: center;
    justify-self: center; */
    place-self: center center;

    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-row: 1/3;

    grid-column: 1/-1; */
}

/* .container .item7{
    grid-column: 1/-2;
} */