/* Chapter 4 */
/* Real Project Using HTML CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

/* Utility Classes */
.bg-dark{
    background: rgb(12, 15, 12);
}

.bg-light{
    background: white;
}

.text-light{
    color: white;
}

.bg-pink{
    background: rgb(255, 48, 83);
}

.text-pink{
    color: rgb(255, 48, 83);

}

.border-pink{
    border: 0.2em solid rgb(255, 48, 83);

}

.box-shadow{
    box-shadow: 0em 0em 4em 0em black;
}

.btn-line-hidden{
    text-decoration: none;
}

.center{
    text-align: center;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.w-50{
    width: 50%;
}

.uppercase{
    text-transform: uppercase;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.bg-hover:hover{
    background: rgb(237, 237, 237);
}

.text-hover:hover{
    color: rgb(237, 237, 237);
}

.clear-fix::after{
    content: "";
    clear: both;
    display: block;
}

.home-footer{
    width: 100%;
    z-index: 1000;
    position: static;
}

.about-footer{
    width: 100%;
    z-index: 1000;
    position: absolute;
    bottom: 0;
}

/* Home Page */

/* Header */
header{
    height: 100vmin;
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    z-index: 10;
}

nav h1{
    font-size: 2.8rem;
    padding-top: 0.2em;
    display: inline-block;
    cursor: pointer;
}

nav ul{
    margin-left: 12.5%;
    display: inline;
}

nav ul li{
    padding: 2em 1em;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    font-size: 1.3rem;
    display: inline-block;
}

nav ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.header-content{
    font-size: 1.6rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h2{
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
}

.header-btn{
    font-size: 1.8rem;
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    border: none;
    margin-top: 0.8em;
}

/* First Section and Second Section */
.same-section{
    padding: 3em;
    background: rgb(192, 192, 192);
}

.same-section .container{
    width: 60%;
    margin-left: 20%;
}

.same-section .container figure{
    height: 40vh;
}

.same-section .container .content{
    padding: 1em;
    height: 40vh;
}

.same-section .container .content h1{
    margin-top: 0.5em;
    font-weight: 200;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 0.6em;
}

.same-section .container .content p{
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}

.same-section .container .content a{
    font-size: 1.3rem;
    margin-top: 1em;
    display: inline-block;
    padding: 0.5em 1.2em;
    border-radius: 2em;
}

/* Third Section */
/* Information Boxes */
.third-section{
    padding: 6em 0em;
}

.third-section .container{
    width: 60%;
    margin-left: 20%;
}

.third-section .info{
    font-size: 1.5rem;
    width: 33.3%;
    padding: 1em;
}

.third-section .info h3{
    margin-top: 0.3em;
}

.third-section .info p{
    margin-top: 1em;
}

/* Footer */
footer .facebook-icon{
    font-size: 3rem;
    margin: 0.8em;
}

footer .facebook-icon:hover{
    color: rgb(48, 110, 255);
}

footer .tiktok-icon{
    font-size: 3rem;
    padding: 0.3em;
    margin: 0.8em;
}

footer .tiktok-icon:hover{
    color: white;
    border-radius: 40px;
    font-size: 2.8em;
    background: black;
}

footer .instagram-icon{
    font-size: 3rem;
    margin: 0.8em;
}

footer .instagram-icon:hover{
    background: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
    border-radius: 0.3em;
    color: white;
}

footer p{
    font-size: 1.4rem;
    padding-bottom: 2em;
    text-transform: capitalize;
}

/* About Page */
.about-section{
    padding-top: 10em;
}

.about-section .about-container{
    width: 60%;
    margin-left: 20%;
}

.about-section .about-container h1{
    font-size: 3.2rem;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    font-weight: 200;
}

.about-section .about-container p{
    margin-top: 0.8em;
    font-size: 1.4rem;
}

.about-section .about-container .rating-content{
    margin: 4em 0em;
    width: 25%;
    text-align: center;
}

.about-section .about-container .rating .rating-content h2{
    font-size: 2.3rem;
}

.about-section .about-container .rating .rating-content p{
    font-size: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-weight: 600;
}

/* Footer */
.about-section .about-container .about-section-footer{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-container .about-section-footer p{
    margin: 0;
    margin-left: 0.4em;
    padding: 0;
}

.about-section .about-container .about-section-footer a{
    font-size: 2rem;
    margin: 0.2em;
    padding: 0.4em 2em;
    border: 0.1em solid white;
    border-radius: 1.1em;
}

.about-section .about-container .about-section-footer a:hover{
    background: rgba(128, 128, 128, 0.325);
}

/* Contact Page */
.contact-section{
    background: rgb(220, 220, 220);
    border: 1em solid red;
    height: 20vh;
    margin-top: 5.5em;
    
}

.contact-section .container{
    width: 60%;
    border: 0.2em solid blue;
    margin-left: 20%;
}

.contact-section .container .left-contaier{
    font-size: 1.3em;
    width: 50%;
    border: 0.5em solid green;
}