.box{
    width: 50px;
    height: 20px;
    background: red;
    overflow: hidden;
    /* transition-property: background;
    transition-duration: 3s;
    transition-timing-function: ease-in; */
    /* transition: background 1s ease-in-out,
                width 1s ease-in-out,
                height 1s ease-in-out; */
    transition: all 1s ease-in-out;
}

.box:hover{
    background: yellow;
    width: 500px;
    height: 100px;
}