/* Flex Flow */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-wrapper{
    border: 3px solid black;

    /* Flex Box */
    display: flex;

    /* Flex Flow */
    /* Short Code */
    /* flex-flow: row nowrap; Default */
    flex-flow: row wrap;
    /* flex-flow: column wrap; */
}

.box-wrapper .box{
    border: 3px solid #666;
}

.box-wrapper .box1{
    background: lightblue;
}

.box-wrapper .box2{
    background: lightcoral;
}

.box-wrapper .box3{
    background: lightgray;
}

.box-wrapper .box4{
    background: lightsalmon;
}

.box-wrapper .box5{
    background: lightslategray;
}
