/* Chapter 3 */
/* Absolute Unit */

p{
    /* Pixel Unit */
    font-size: 96px;

    /* Inch Unit */
    font-size: 1in;

    /* Centimeter Unit */
    font-size: 2.54cm;

    /* Point Unit */
    font-size: 72pt;
}