/* Chapter 3 */
/* Floats and Clear Explained */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.boxs{
    border: 10px solid red;
}

.box1{
    font-size: 1.6rem;
    width: 25%;
    padding: 1.5em;
    float: left;
    background: blue;
}

.box2{
    font-size: 1.6rem;
    padding: 1.5em;
    background: green;
    width: 25%;
    float: left;
}

.box3{
    font-size: 1.6rem;
    padding: 1.5em;
    background: brown;
    width: 25%;
    float: left;
}

.box4{
    font-size: 1.6rem;
    padding: 1.5em;
    background: yellow;
    width: 25%;
    float: left;
}

/* .clearfix{
    clear: both;
} */

.boxs::after{
    content: "";
    clear: both;
    display: block;
}