/* Chapter 2 */
/* Box Sizing Border Box */

hr{
    width: 500px;
    margin-left: 0;
    border: 3px solid black;
}

.box1{
    width: 500px;
    border: 10px solid red;
    background: pink;
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.box2{
    width: 500px;
    border: 10px solid red;
    background: pink;
    padding: 50px;
}