/* Chapter 2 */
/* More Pseudo Classes */

body :not(p){
    color: red;
}

div:empty{
    background: black;
    border: 2px solid red;
    height: 50px;
    margin-bottom: 5px;
}

:root{
    background: black;
    color: white;
}