/* Rotate Property using Animation Property*/
.rotate-animation-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    animation: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Rotate Property using Transition Property */
p{
    position: absolute;
    left: 47%;
    z-index: 0;
}

.rotate-transition-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    z-index: 10;
    position: relative;
    transform-origin: top left;
    transition: transform 1s ease-in-out;
}

.rotate-transition-property:hover{
    transform: rotate(120deg);
}

/* Scale Property using Animation Property */
.scale-animation-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scale{
    from{
        transform: scale(1);
        /* transform: scaleX(1); */
        /* transform: scaleY(1); */
    }
    to{
        transform: scale(2);
        /* transform: scaleX(2); */
        /* transform: scaleY(2); */
        /* transform: scale(2, 3); */
    }
}

/* Scale Property using Transition Property */
.scale-transition-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    transition: transform 1s linear;
}

.scale-transition-property:hover{
    /* transform: scale(2); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    transform: scale(2, 3);
}

.translate-animation-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    animation: translate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: translateX(50%); */
    /* transform: translateY(50%); */

}

@keyframes translate{
    to{
        /* transform: translateX(50%); */
        transform: translateY(50%);
    }
}

.translate-transition-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    transition: transform 1s linear;
}

.translate-transition-property:hover{
    transform: translateX(50%);
}

.skew-animation-property{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 1.5rem;
    margin: 100px auto;
    /* animation: translate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    transform: skewY(60deg)


}

/* @keyframes translate{
    to{
        transform: skewY(50deg)
    }
} */